/* * {
  font-family: 'Work Sans', sans-serif !important;
  font-weight: 400;
}

*/

/*font-family: 'droid_serifregular', Arial, sans-serif;*/

body {
  margin: 0;
  background-color: #eef;
  /* overflow-x: hidden !important; */
}


html, body {
  /*
  height: 100%;
  margin: 0; */
  background: #030303;
  font-family: 'Work Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5em;
  /* color: #141315; */
}

svg {
  vertical-align: middle;
}

p, ul {
  font-family: 'droid_serifregular', Arial, sans-serif;
  /* font-family: 'Work Sans', Arial, sans-serif; */

}

h1, h2, h3 {
  font-family: 'Work Sans', Arial, sans-serif;
  /* font-family: 'droid_serifregular', Arial, sans-serif; */
}


.load {
  opacity: 1 !important;
  transition: opacity 0.8s;

}



.container-fluid {
  /* margin-right: 5%;
  margin-left: 5%; */

}


.hero-section {
  /* width: 100%;
  background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,.5)), url('../images/hero-image.jpg') no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  height:100vh; */

  width: 100%;
  height: 100vh;
  position: relative;
  /* background-color: #000; */
  overflow: hidden;
}

#hero-bg {
  background-position: center center;
  position: absolute;
  background-size: cover;
  /* background-image: url('../images/hero-image.jpg'); */
  /* filter: grayscale(100%); */
  top: -5%;
  right: -5%;
  bottom: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  color: #FFFFFF;
  transform: translate(-50%, -50%);
  margin: 0;
  z-index: 1;
  width: 100%;

}

.hero-title {
  font-family: 'droid_serifbold', Arial, sans-serif !important;
  font-size: 2em;
  letter-spacing: 1.5px;
  margin-bottom: 0;
}

.hero-subtitle {
  font-size: 0.6em;
  text-transform: uppercase;
  color: #536371;
  letter-spacing: 2px;
  margin-bottom: 0;
}

.hero-des {
  letter-spacing: 0.5px;
  display: none;

}

.logo {
  float: left;
}

/* Home Bg */

.homepage-hero-module {
  height: 100vh;
}

.bg-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,1)), url('../images/hero-image.jpg') no-repeat center;
    background-size: cover;
}

.mini-container {
  width: 300px;
  margin: 0 auto;
}


header {
  padding-top: 5%;
  background: transparent;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transition: top 0.2s ease-in-out;
  z-index: 2;

}

.nav-up {
    top: -100px;
}

.navigation-bar {
  margin: 24px 60px;
  height: 40px;
}

.navigation-bar ul {
  display: inline-block;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  vertical-align: top;
  text-align: center;
}

.nav-menu {
  float: right;
}

.nav-menu a {
  margin-left: 20px;
  display: inline-block;
  float: right;
}

.underLinks {
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  transform: scaleX(0);

}

.container-fluid .row .nav-menu a:hover > .underLinks {
  transition: transform 0.5s;
  transform: scaleX(1);
}



li a {
  display: inline-block;
  float: left;
  padding: 22px;
  text-decoration: none;
  color: #666666;
}

a {
  /* line-height: 40px; */
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  color: #666666;

}

a:hover {
  /* line-height: 40px; */
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  color: #666666;

}

.col-md-1 {
  text-align: center;
}

/* Portfolio */
.project {
  margin-top: 20%;

}

.project-title h2 {

  top: 0px;
  line-height: 1em;
  font-size: 1.5em;
  font-weight: 400;
}

.project-title {
  min-width: 500px;
  padding: 20px 40px 20px 40px;
  font-size: 2em;
  z-index: 30;
  color: #ffffff;
  margin-left: 50%;
  margin-top: 2%;
  transition: all .8s;

}

#neuron-cover, #planime-cover {
  position: relative;
}

.left-shift {
  margin-left: 12%;
}

.right-shift {
  margin-left: 42%;
}

.pretitle {
  opacity: 0;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #6F7171;
  font-weight: 400;
}

.project-title .first-title {
  margin-top: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.first-title,
.second-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

. {
  margin-top: 30px;
}

.but-text {
  font-size: 0.5em;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Project Images */

.vault-image,
.neuron-image,
.planime-image,
.escapes-image {
  max-width: 100%;
  height: 486px;

}

.neuron-image {
  opacity: 0;
  background: url('../images/neuron.png') no-repeat;
  margin-left: 350px;
  background-size: contain;
  transition: all .8s;

}

.vault-image {
  opacity: 0;
  background: url('../images/thomas@2x.png') no-repeat center;
  margin-left: 150px;
  background-size: contain;
  transition: all .8s;
  background-position: top;
}

.planime-image {
  opacity: 0;
  background: url('../images/planime/cover.png') no-repeat;
  margin-left: 350px;
  background-size: contain;
  transition: all .8s;
}

.escapes-image {
  opacity: 0;
  background: url('../images/thomas@2x.png') no-repeat;
  margin-left: 150px;
  background-size: contain;
  transition: all .8s;
}

.box-left {
  opacity: 0;
  position: absolute;
  padding: 20px 40px 20px 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: 12%;
  min-height: 290px;
  min-width: 150px;
  margin-top: 2%;

}

.box-right {
  opacity: 0;
  position: absolute;
  padding: 20px 40px 20px 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: 42%;
  min-height: 290px;
  min-width: 50px;
  margin-top: 2%;
}

div.icon-right {
  opacity: 0;
  margin-left: 20px;
  line-height: 0.5;
  transition: margin-left 0.5s ease;
}


.but-block {
  display: flex;
}


/* Box Animation */

.b-left-animated {
  opacity: 1;
  min-height: 290px;
  min-width: 500px;
  animation-duration: 2s;
  animation-name: scaleLeft, fadeInLeftBox;
  /* animation-timing-function: linear; */
}

.b-right-animated {
  opacity: 1;
  min-height: 290px;
  min-width: 450px;
  animation-duration: 2s;
  animation-name: scaleRight, fadeInLeftBox;

}

@keyframes fadeInLeftBox {
    0% {
      opacity: 0;
      animation-timing-function: cubic-bezier(.16,0,.64,1);
      -webkit-transform: translateX(-50px);
      transform: translateX(-70px);
    }

    63%, 100% {
      opacity: 1;
      animation-timing-function: ease-out;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }

@keyframes scaleLeft {
  0% {
    animation-timing-function: cubic-bezier(.16,0,.64,1);
    min-width: 50px;
  }

  63%, 100% {
    animation-timing-function: ease-in;
    min-width: 500px;
  }
}

@keyframes scaleRight {
  0% {
    animation-timing-function: cubic-bezier(.16,0,.64,1);
    min-width: 150px;
  }

  63%, 100% {
    animation-timing-function: ease-in;
    min-width: 450px;
  }
}

/* FadeInUp Animation */

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  opacity: 0;  /* make things invisible upon start */
  -webkit-animation:fadeInUp cubic-bezier(.18,0,.7,.93) 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeInUp cubic-bezier(.18,0,.7,.93) 1;
  animation:fadeInUp cubic-bezier(.18,0,.7,.93) 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  /* animation-delay: 0.1s; */

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

#colors-section {
  opacity: 0;
}

.mockups-row1, .mockups-row2 {
  opacity: 0;
}

.wireframes, .user-flow, .solutions, .mockup-1, .mockup-2 {
  opacity: 0;
}


/* Home Animation

/* Project Cover */

.but-block {
  margin-top: 10%;
}

.inner-but {
  opacity: 0;
  /* clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%); */
  /* transform: translateX(-150px); */

}

.view-but {
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}

.first-title {
  opacity: 0;
  -webkit-animation-duration: 0.2s;
  /* -webkit-animation-delay: 1s; */
  -webkit-animation-iteration-count: 1;
}

.second-title {
  opacity: 0;
  -webkit-animation-duration: 0.2s;
  /* -webkit-animation-delay: 1s; */
  -webkit-animation-iteration-count: 1;
}


/* .neuron-image.current {
    opacity: 1;
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
    animation-duration: 3s;
    -webkit-animation-duration: 3s;
    visibility: visible !important;
} */


/* @keyframes fadeIn {
	from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
	}
	to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
	}
} */

/* @keyframes fadeIn {
    0% {
        animation-timing-function: ease-out;
        opacity: 0.0;
    }

    100% {
        animation-timing-function: ease-in;
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0.0;
    }

    100% {
        opacity: 1;
    }
} */

.fadeInDown {
  opacity: 0;  /* make things invisible upon start */
  -webkit-animation:fadeInDown ease-out 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeInDown ease-out 1;
  animation:fadeInDown ease-out 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  animation-delay: 0.5s;

  -webkit-animation-duration:0.8s;
  -moz-animation-duration:0.8s;
  animation-duration:0.8s;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  opacity: 0;  /* make things invisible upon start */
  -webkit-animation:fadeInLeft cubic-bezier(.18,0,.7,.93) 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeInLeft cubic-bezier(.18,0,.7,.93) 1;
  animation:fadeInLeft cubic-bezier(.18,0,.7,.93) 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  animation-delay: 0.5s;

  -webkit-animation-duration:0.8s;
  -moz-animation-duration:0.8s;
  animation-duration:0.8s;
}

.fadeInLeftSlow {
  opacity: 0;  /* make things invisible upon start */
  -webkit-animation:fadeInLeft cubic-bezier(.18,0,.7,.93) 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeInLeft cubic-bezier(.18,0,.7,.93) 1;
  animation:fadeInLeft cubic-bezier(.18,0,.7,.93) 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  animation-delay: 0.5s;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  opacity: 0;  /* make things invisible upon start */
  -webkit-animation:fadeInRight ease 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeInRight ease 1;
  animation:fadeInRight ease 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  /* animation-delay: 0.5s; */

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}


.clip-polygon {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.image-animated {
  opacity: 1;
  animation-duration: 0.8s;
  animation-name: clipMoveUp, movement, fadeIn;
  animation-iteration-count: 1;
}

@keyframes clipMoveUp {
  0% { -webkit-clip-path: polygon(0 68%, 100% 69%, 100% 100%, 0 100%);
        clip-path: polygon(0 70%, 100% 70%, 100% 100%, 0 100%);
      }

  100% { -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
}

@keyframes movement {
  0% {
    transform: translate(0px, 115px);
    animation-timing-function:ease-in-out;
  }

  100% {
    animation-timing-function:cubic-bezier(0,.31,.78,.6);
    /* animation-timing-function:cubic-bezier(0,.31,.78,.6); */
  }

}




/* Footer Style */

footer {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 50px;
}

.email {
  font-family: 'droid_serifbold', Arial, sans-serif;
    font-size: 1.5em;
    color: #FFFFFF;
    letter-spacing: 0.5px;

}

.email-des {
  color: #666666;
  font-family: 'Work Sans', Arial, sans-serif;
}

/* Responsiveness */

/* @media only screen and (max-width: 598px) {

  .hero-title {
    font-size: 1em;
    line-height: 1em;
  }

  .project {
    margin-top: 20%;
  }

  .project-title {
    padding: 0;
    margin: 5%;
    font-size: 1em;
    min-width: 250px;
    margin-top: 2%;
  }

  .first-title,
  .second-title {
    margin-top: 0;
    margin-bottom: 0;
  }

  .project-title .first-title {
    margin-top: 5%;
    margin-bottom: 0;
  }

  .view-but {
    margin-top: 0;
  }

  .project-title h2 {
    line-height: 1.5;
  }

  .but-text {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    font-size: 10px;
  }

  .neuron-image, .vault-image, .planime-image, .escapes-image {
    height: 200px;
    margin-left: 0;
  }

  .pretitle, .box-left, .box-right {
    display: none;
  }

} */

/* @media only screen and (min-width: 599px) and (max-width: 868px) {

  .box-left, .box-right {
    display: none;
  }

  .left-shift, .right-shift {
    margin-left: 0;
  }

  .col-sm-6 {
    width: 100%;

  }

  .neuron-image, .vault-image, .planime-image, .escapes-image  {
    margin-left: 0;
  }


} */

/* @media only screen and (min-width: 869px) and (max-width: 1070px) {

  .project-title {
    margin-top: 2%;
  }

  .right-shift, .box-right {
    margin-left: 40%;
  }

  .left-shift, .box-left {
    margin-left: 0;
  }

  .neuron-image, .vault-image, .planime-image, .escapes-image {
    width: 70%;

  }

  .neuron-image, .planime-image {
    margin-left: 32%;
  }

  .vault-image, .escapes-image {
    margin-left: 0;
  }

} */

/* @media only screen and (min-width: 1071px) and (max-width: 1199px) {

  .neuron-image, .vault-image, .planime-image, .escapes-image  {
    width: 60%;

  }

  .neuron-image {
    margin-left: 250px;
  }

} */

/* Project page */

/* Page loaded */

#neuron_body {
  opacity : 1;
  transition: opacity 2s;
  background-color: #ffffff;
}

#text-intro {
  opacity: 0;
  transition: opacity 2s ease;
}

#text-intro.load {
  opacity: 1;
}





#nav-projects {
  /* position: unset; */
}

#neuron, #escapes, #planime {
  background: #FFFFFF;
}

#neuron-hero-top-bg {
  opacity: 1;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  background: linear-gradient(rgba(8, 38, 49, 0.96), rgba(8, 21, 27, 0.8)), url('../images/neuron/hero-bg.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

#escapes-hero-top-bg {
  width: 100%;
  background-image: url('../images/escapes/top-bg2.jpeg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: fixed;
  z-index: 1;
}

#vault-hero-top-bg {
  opacity: 1;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  background: linear-gradient(rgba(14, 75, 159, 0.8), rgba(39, 42, 46, 0.96)), url('../images/vault/hero-bg.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

#planime-hero-top-bg {
  width: 100%;
  background: linear-gradient(rgba(23, 28, 35, 0.8), rgba(23, 28, 35, 0)), url('../images/planime/cover.png');
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: fixed;
  z-index: 1;
}


#planime-logo-mockup {
  padding-top: 15%;
  padding-bottom: 15%;
  background-size: cover;
  /* background-color: rgba(0, 0, 0, 0.3); */
  /* background: url('../images/planime/logo-bg.png') no-repeat; */
  background: url('../images/planime/logo-bg.png') no-repeat;
  background-position: center;
  background-size: contain;
  height: 100vh;
  /* position: fixed; */
  z-index: 1;
}

.pl-logo {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  margin: auto;
}

/* .overlay-black {
  background-color: #162131;
  background-blend-mode: multiply;
} */

#top-pretitle {
  opacity: 1;
}

.nav-back {
  /* padding-top: 50px; */
}

.close {
  float: right;
}

.top-des {
  margin: auto;
  top: 30%;
  left: 10%;
}

.top-text {
  /* opacity: 0; */
  max-width: 500px;
  line-height: 2em;
}

.main-title {
  font-size: 2.5em;
  margin: 0;
}

.sub-text {
  margin-top: 5%;
  line-height: 1.5em;
}

#neuron-top-image {
  opacity: 0;
  position: absolute;
  max-width: 100%;
  top: 20%;
  right: 15%;
  transition: opacity 2s ease;
}

#neuron-top-image.load {
  opacity: 1;
}

.n-intro-desc {
  margin: 0;
  width: 100%;
  padding-bottom: 20%;
}

.es-intro-desc {
  margin: 0;
  width: 100%;
  padding-bottom: 20%;
}



#neuron-intro {
  /* background: #28AFE6; */
  background: linear-gradient(#1da1d8, #609cda);
}

#escapes-intro {
  /* background: #ef7174; */
  background: linear-gradient(#e66465, #9198e5);
}

#vault-intro {
  background: linear-gradient(#6aa0e8, #2f63a9);
}

#planime-intro {
  background: linear-gradient(#5da9e1, #2e6ba7);
  padding-bottom: 10%;
}


.neuron-visual-desc {
  margin: 0;
  width: 100%;
  background: #000000;
  background-image: url('../images/neuron/glows.png');
  background-position: 50% 100%;
  background-size: cover;
}


/* Service List Style*/

ul.project-list {
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 12px;
  list-style-type: none;
  font-family: 'Work Sans', Arial, sans-serif;

}

.project-list-item {
  position: relative;
  height: 6em;
}

.project-list-item::before {
  content: " ";
  width: 5px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  background: #81CBEA;
  left: -2em;
  top: 0.8em;
}
.project-list-item.es-p::before {
  content: " ";
  width: 5px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  background: #f79da0;
  left: -2em;
  top: 0.8em;
}

ul.project-goals {
  color: #ffffff;
  list-style-type: disc;
  -webkit-padding-start: 0;
}

li.project-goals-item {
  /* line-height: 1.5em; */
}

ul.project-goals .text {
  padding: 0;
}

.block-text-center {
  margin: auto;
  max-width: 994px;
  padding-top: 5%;
}

.block-center {
  margin: auto;
  max-width: 880px;
}

.main-block {
  margin-top: 32%;

}

.project-goals ul {
  -webkit-padding-start: 40px;
}

#escapes-serv-list {
  /*  */
}


#brand-section {
  max-width: 994px;
  left: 0;
  right: 0;
}

#escapes-brand {

}

.centred-text {
  max-width: 994px;
  max-height: 619px;
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
}

#neuron-brand img {
  max-width: 994px;
  max-height: 619px;
  border: 60px solid black;
  border-radius: 50px;
}

div.neuron-brand-image {
  padding: 0;
  border: 60px solid black;
  border-radius: 50px;
  content: url('../images/neuron-brand.png')
}

div.persona {
  /* margin-top: 5%; */
  content: url('../images/neuron/personas-2.png');
  padding: 0;
}

div.com-audit {
  content: url('../images/neuron/com-audit.png');
  /* display: block;
  background:  no-repeat;
  background-size: contain;
  min-height: 400px; */
}

div.user-flow {
  content: url('../images/neuron/user-flow.png');
  /* display: block;
  background:  no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 800px; */
  margin-top: 5%;

}


div.icon-design {
  margin-top: 50px;
  content: url('../images/escapes/icon.png');
  padding: 0;
}

div.wireframes {
  width: 100%;
  content: url('../images/neuron-wireframes.png');
  padding: 0;
}

div.alphav {
  width: 100%;
  content: url('../images/vault/alphavault2.png');
  padding: 0;
}

div.deepaud {
  width: 100%;
  content: url('../images/vault/deepaud.png');
  padding: 0;
}

div.solutions {
  position: absolute;
  left: 45%;
  margin-top: 8%;
  /* box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); */
  border-radius: 2px;
  max-width: 488px;
  padding: 30px;
  background-color: white;
}

ul.text-list {
  font-family: 'Work Sans', Arial, sans-serif;
  font-size: 0.8em;
  padding: 0 16px;
  list-style-type: none;
}

.text-list-item::before {
  content: " ";
  width: 4px;
  height: 4px;
  border-radius: 5px;
  position: absolute;
  background: #02b1ea;
  left: -1.2em;
  top: 0.8em;
}


.text-list-item {
  position: relative;
}


div.neuron-visual-desc > div.block-center {
    padding-left: 15px;
    padding-right: 15px;

}

/* Text Style */

.headline {
  color: #141315;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 600;
}

.text {
  line-height: 2em;
  -webkit-font-smoothing: antialiased;
  font-size: 0.95em;
}

#neuron-list .project-list-item::before {
  background: #82dbff80;
}

#vault-list .project-list-item::before {
  background: #77b1ff80;
}

/* Colors */

.white {
  color: #ffffff;
}

.black {
  color: #141315;
}

.pl-grey {
  color: #666b71;
}

.v-color-name {
  color: #81878a;
  font-size: 70%;
}

.pg-section {
  margin-top: 5%;
}

ul.text {
  padding: 0 16px;
}

.hero-top-image {
  height: 509px;
}

#hero-text-section {
  position: absolute;
  left: 50%;
  top: 50%;
}

.extra-pad-bottom {
  padding-bottom: 200px;
}

.extra-pad-left {
  padding-left: 10%;
}




/* Escapes Project */

.escapes-colors {
  text-align: center;
  min-height: 300px;
  background: #ffffff;
}

div.escapes-colors-image {
  /* margin-top: 50px; */
  content: url('../images/escapes/colors.png');
  padding: 0;
}

.tab-shadow {
  box-shadow: 0px 0px 38px 14px rgba(0,0,0,0.1);
}

.rel {
  position: relative;
}

.abt {
  position: absolute;
}

.t-aligned {
  text-align: center;
}

.mr-0 {
  margin: 0 auto;
}

.subtext {
  /* color: #ffffff; */
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 1px;
  font-weight: 500;
  font-family: 'Work Sans', Arial, sans-serif;
}

.subtext-white {
  color: #ffffff;
  font-weight: 400;
  font-size: 0.7em;
  font-family: 'Work Sans', Arial, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.pad-top {
  margin-top: -200px;
}

.pad-bottom {
  margin-bottom: -200px;
}

.fixed-width {
  max-width: 994px;
  margin: auto;
  background-color: #ffffff;
  padding: 5%;
}

.sm-fixed-width {
  max-width: 650px;
  margin: auto;
  /* background-color: #ffffff; */
  padding-left: 5%;
  padding-right: 5%;
}

.md-fixed-width {
  max-width: 994px;
  margin: auto;
  padding: 5%;
}

.wb-full-wth {
  max-width: 1200px;
  margin: auto;
  background-color: #ffffff;
}

.wb-shadow {
  box-shadow: 0px 0px 38px 1px rgba(0,0,0,0.1);
  padding: 0;
  left: 10%;
}

.z-high {
  z-index: 9999;
}

.z-low {
  z-index: 1;
}

.pad-zero {
  padding: 0
}


.t-centred {
  margin-top: 5%;
}

.mg-center {
  margin: 0;
}

.fake-block {
  height: 100vh;
  min-height: 0;
  width: 1px;
}

.wrapper {
  position: relative;
  z-index: 3;
  background-color: #ffffff;
}

#planime-intro .extra-pad-left {
  padding-left: 0;
}

#planime-wrapper {
  background-size: cover;
  /* background-image: url('../images/planime/bg-effect.png'); */
  background-color: #171c23;
}

#planime-concept::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #4384b7;
  margin: 0 auto;
}

.padr-10 {
  padding-right: 35%;
}

.extra-pad-side {
  margin-left: 5%;
  margin-right: 5%;
}

.extra-pad-side-nav {
  margin-left: 5%;
  margin-right: 5%;
}

.extra-pad-top {
  margin-top: 5%;
}

.t-inline {
  display: inline;
}

#close-mobile {
  display: none;
}

#close-mobile {
  padding-left: 30px;
}

div.icon-back {
  line-height: 0.5;
  transition: margin-left 0.5s ease;
  position: absolute;
  top: 30%;
}

div.b-link {
  margin-left: 40px;
}

div.mockup-1 {
  content: url('../images/neuron/neuron-iphone-row-1.png');
  /* background: url('../images/neuron/neuron-iphone-row-1.png') no-repeat; */
  width: 100%;
}

div.mockup-2 {
  content: url('../images/neuron/neuron-iphone-row-2.png');
  /* background: url('../images/neuron/neuron-iphone-row-2.png') no-repeat; */
  width: 100%;
}

img.img-full-wth {
  width: 100%;
}

.img-full-wth {
  width: 100%;
  height: auto;
}

.img-md-wth {
  width: 70%;
  height: auto;
}

#vault-mockup-1 {
  left: 10%;
  top: 150px;
}

#vault-mockup-2 {
  top: 200px;

}

#v-middle-bg {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  background: linear-gradient(rgba(14, 75, 159, 0.8), rgba(39, 42, 46, 0.96));
  background-position: center;
  background-size: cover;
  height: 120vh;
}


.col-25 {
  width: 45%;
}

/* Loader Style */

#loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: url('../loader.gif') no-repeat center #000000;
  z-index: 9999;
}

.lock-screen {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.icon-plus {
  font-size: 3em !important;
  color: #e4e6e9;
}

.img-frame {
  height: 154px;
}

/* .img-frame::before {
  content: " ";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
} */

.comet-ic {
  width: 70%;
}

.smile-ic {
  margin-top: 30%;
  width: 50%;
}

.box-plus-ic {
  margin-top: 5%;
}

#pl-style {
  /* background-color: #5da9e1; */
  width: 100%;
}

.wrapper-stationary {
  position: relative;
  z-index: 3;
  background-color: #171c24;
}

.pl-stationary-text {
  left: 10%;
  padding-top: 10%;
}



/* .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
} */
