



@media only screen and (max-width: 568px) {

  /* Home  */

  .box-left, .box-right {
    display: none;
  }

  .left-shift, .right-shift {
    margin-left: 0;
  }
  .fixed-width {
    padding-bottom: 8%;
    padding-top: 8%;
  }


  .neuron-image, .vault-image, .planeme-image, .escapes-image  {
    margin-left: 0;
    height: 250px;
    background-position: center;
  }

  .text {
    font-size: 0.85em;
  }

  #nav-projects {
    position: absolute;
  }

  #back-desk {
    display: none;
  }

  #close-mobile {
    display: block;
  }

  div.b-link {
    margin-left: 15px;
  }

  .hero-title {
    font-size: 1.2em;
    line-height: 1em;
  }

  .project {
    margin-top: 10%;
  }

  .project-title {
    padding: 0;
    margin: 5%;
    font-size: 1em;
    min-width: 250px;
    top: 15%;
    left: 5%
  }

  .first-title,
  .second-title {
    margin-top: 0;
    margin-bottom: 0;
  }

  .project-title .first-title {
    margin-top: 5%;
    margin-bottom: 0;
  }

  .view-but {
    margin-top: 0;
  }

  .project-title h2 {
    line-height: 1.5;
  }

  .but-text {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    font-size: 10px;
  }

  .neuron-image, .thomas-image, .planeme-image, .escapes-image {
    margin-left: 0;
  }

  .pretitle, .box-left, .box-right, .fake-block {
    display: none;
  }

  .extra-pad-side {
    margin-left: 0;
    margin-right: 0;
  }

  div.icon-right {
    line-height: 1.1em;
  }

  #neuron-hero-top-bg, #escapes-hero-top-bg, #vault-hero-top-bg, #planime-hero-top-bg {
    position: relative;
    /* height: 70vh; */
  }

  #planime-intro .extra-pad-left {
    padding-left: 5%;
  }

  .top-des {
    left: 0;
  }

  .main-block {
    margin-top: 35%;
  }


  .sub-text {
    margin-top: 5%;
    line-height: 1.5em;
  }

  ul.project-list {
    display: none;
  }

  div.solutions {
    display: none;
  }

  div.neuron-brand-image {
    padding: 0;
    border: 0;
    border-radius: 3px;
    content: url('../images/neuron-brand.png');
    box-shadow: 0px 0px 38px 14px rgba(0,0,0,0.1);
  }

  .brand-image {
    padding-right: 15px;
    padding-left: 15px;
  }

  #neuron-brand {
    margin-top: 25px;
  }



  div.persona {
    margin-top: 25px;
  }

  div.neuron-visual-desc > div.block-center {
      padding-left: 0;
      padding-right: 0;

  }

  /* Vault Project */

  #v-middle-bg {
    height: 50vh;
  }

  #vault-mockup-1 {
    left: 5%;
    top: 50px;
  }

  #vault-mockup-2 {
      top: 100px;
      right: 5%;
  }

  .col-25 {
    width: 50%;
  }

  .extra-pad-bottom {
    padding-bottom: 100px;
  }

  .mini-container {
    width: 40%;
    height: 50px;
  }

  #planime-intro {
    min-height: 550px;
    padding-bottom: 0;
  }

  .extra-pad-left {
    padding-left: 15px;
  }
  .padr-10 {
    padding-right: 0;
  }

  .icon-plus {
    font-size: 2em !important;
  }

  .pl-stationary-text {
    left: 0;
    padding-top: 10%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .pl-log {
    top: 15%;
  }

  #planime-logo-mockup {
    height: 50vh;
  }

  /* Escapes */

  #escapes-mockups {
    padding-right: 15px;
    padding-left: 15px;
  }

  .mockups-row1, .mockups-row2 {
    padding: 0;
  }

  .pad-top {
    margin-top: 20%;
  }


}


@media only screen and (min-width: 320px) and (max-width: 413px) {
  .pad-top {
    margin-top: -20%;
  }

  .n-intro-desc {
    padding-bottom: 25%;
  }

  .pad-bottom {
    margin-bottom: 0;
  }

  #escapes .pad-top {
    margin-top: -15%;
  }

  #neuron-hero-top-bg, #escapes-hero-top-bg, #vault-hero-top-bg, #planime-hero-top-bg {
    position: relative;
    height: 70vh;
  }



}

@media only screen and (min-width: 414px) and (max-width: 567px) {
  .pad-top {
      margin-top: -35%;
  }

  .pad-bottom {
    margin-bottom: 20%;
  }

  #neuron-hero-top-bg, #escapes-hero-top-bg, #vault-hero-top-bg, #planime-hero-top-bg {
    position: relative;
    height: 70vh;
  }
}


/* Md Tablet */

@media only screen and (min-width: 599px) and (max-width: 767px) {


  .box-left, .box-right, .fake-block {
    display: none;
  }

  .left-shift, .right-shift {
    margin-left: 0;
  }

  .col-sm-6 {
    width: 100%;

  }

  .neuron-image, .thomas-image, .planeme-image, .escapes-image  {
    margin-left: 0;
  }

  .top-des {
    left: 0;

  }

  #nav-projects {
    position: absolute;
  }

  #back-desk {
    display: none;
  }

  #close-mobile {
    display: block;
  }

  #neuron-hero-top-bg, #escapes-hero-top-bg, #vault-hero-top-bg, #planime-hero-top-bg {
    position: relative;
    height: 100vh;
  }

  .icon-back {
    display: none;
  }

  div.b-link {
    margin-left: 15px;
  }

  .extra-pad-side {
    margin-left: 0;
    margin-right: 0;
  }

  div.neuron-brand-image {
    padding: 0;
    border: 0;
    border-radius: 3px;
    content: url('../images/neuron-brand.png');
    box-shadow: 0px 0px 38px 14px rgba(0,0,0,0.1);
  }

  .pad-top {
    margin-top: 12%;
  }

  ul.project-list {
    display: none;
  }

  .intro-desc {
    min-height: 650px;
  }

  div.solutions {
    display: none;
  }

  .brand-image {
    padding-right: 15px;
    padding-left: 15px;
  }

  .main-block {
    margin-top: 25%;
  }

  /* Escapes */

  #escapes-mockups {
    padding-right: 15px;
    padding-left: 15px;
  }

  .mockups-row1, .mockups-row2 {
    padding: 0;
  }

}

/* iPhoneX */



/* @media only screen and (min-width: 812px) and (max-width: 767px) {

} */


/* Tablet */

@media only screen and (min-width: 768px) and (max-width: 1070px) {

  #neuron-hero-top-bg, #escapes-hero-top-bg, #vault-hero-top-bg, #planime-hero-top-bg {
    position: relative;
    height: 80vh;
  }

  .top-des {
    left: 2%;
  }

  .fake-block {
    display: none;
  }

  .n-intro-desc {
    padding-bottom: 40%;
  }

  .es-intro-desc {
    padding-bottom: 30%;
  }


  .pad-top {
    margin-top: -35%;
  }

  #nav-projects {
    position: absolute;
  }

  #back-desk {
    display: none;
  }

  #close-mobile {
    display: block;
    padding-left: 0;
  }

  /* Escapes */

  #escapes .pad-top {
    margin-top: 0;
  }

  #escapes-mockups {
    padding-right: 15px;
    padding-left: 15px;
  }

  .mockups-row1, .mockups-row2 {
    padding: 0;
  }

  .extra-pad-bottom {
    padding-bottom: 100px;
  }

  .project-title {
    margin-top: 2%;
  }

  .right-shift, .box-right {
    margin-left: 40%;
  }

  .left-shift, .box-left {
    margin-left: 0;
  }

  .neuron-image, .thomas-image, .planeme-image, .escapes-image {
    width: 70%;

  }

  .neuron-image, .planeme-image {
    margin-left: 32%;
  }

  .thomas-image, .escapes-image {
    margin-left: 0;
  }

/* Neuron project  */

  div.solutions {
    margin-top: 0;
  }

  .brand-image {
    padding-right: 15px;
    padding-left: 15px;
  }


  .intro-desc {
    min-height: 800px;
  }

  div.solutions {
    display: none;
  }

  #planime-intro .extra-pad-left {
    padding-left: 5%;
  }

  .extra-pad-left {
    padding-left: 5%;
  }

  div.neuron-brand-image {
    padding: 0;
    border: 0;
    border-radius: 3px;
    content: url('../images/neuron-brand.png');
    box-shadow: 0px 0px 38px 14px rgba(0,0,0,0.1);
  }

}

/* iPhoneX */

@media only screen
    and (min-device-width: 375px)
    and (max-device-width: 812px)
    and (-webkit-device-pixel-ratio : 3)
    and (orientation: landscape)    {

        .icon-back {
          display: none;
        }

        div.icon-back {
          position: absolute;
        }

        div.b-link {
          margin-left: 15px;
        }

        #neuron-hero-top-bg, #escapes-hero-top-bg, #vault-hero-top-bg, #planime-hero-top-bg {
          position: relative;
          height: 100vh;
        }

        .extra-pad-side {
            margin-left: 0;
            margin-right: 0;
        }

        div.neuron-brand-image {
          padding: 0;
          border: 0;
          border-radius: 3px;
          content: url('../images/neuron-brand.png');
          box-shadow: 0px 0px 38px 14px rgba(0,0,0,0.1);
        }
    }

@media only screen and (min-width: 1071px) and (max-width: 1199px) {

  .neuron-image, .thomas-image, .planeme-image, .escapes-image  {
    width: 60%;

  }

  .neuron-image {
    margin-left: 250px;
  }

  /* Neuron Project */

  div.solutions {
    margin-top: 5%;
  }

  .intro-desc {
    padding-bottom: 30%;
  }

}



@media only screen and (min-width: 1200px) and (max-width: 1300px) {
  .main-block {
    margin-top: 32%;
  }

  .intro-desc {
    padding-bottom: 25%;
  }

}

/* iPad Pro */

@media only screen
  and (min-device-width: 1024px)
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #nav-projects {
      position: absolute;
    }

    #back-desk {
      display: none;
    }

    #close-mobile {
      display: block;
      padding-left: 0;
    }
}
